<div class="container">
  <div class="row justify-center-center">
    <div class="col-12">
      <%= simple_form_for [@subject] do |f| %>
        <%= f.input :name %>
        <%= f.input :room %>
        <%= f.input :photo %>
        <%= f.submit 'Submit', class: "btn btn-sammi"%>
      <% end %>
    </div>
  </div>
</div>
