<div class="container">
  <div class="row justify-center-center">
    <div class="col-12">
      <%= form_with(model: @subject) do |f| %>
        <%= f.text_field :name %>
        <%= f.text_field :room %>
        <%= f.text_field :photo %>
        <%= f.submit 'Submit', class: "btn btn-sammi"%>
      <% end %>
    </div>
  </div>
</div>
